@using BOL;
@{
    ViewData["Title"]="Index page";
}

<div>

    <h2>product catalog</h2>

    @{
        List<Product> allProducts=(List<Product>)ViewData["products"];
            <ol>
                @foreach (Product product in allProducts)
                {
                        <li>@product.Title</li>
                }
               
            </ol>
    }
</div>