@{
    ViewData["Title"] = "Categories";
}

<h1>We Have These Categories In Our Showroom </h1>
<table border="2" width="500";height="700">
     <tr>
        <td>Hatchback</td>
        <td>Above 3000$</td>
       </tr>
        <tr>
        <td>Sedan</td>
        <td>Above 5000$</td>
       </tr>
        <tr>
        <td>SUV</td>
        <td>Above 10000$</td>
       </tr>
        <tr>
        <td>Cruse</td>
        <td>Above 12000$</td>
       </tr>
        <tr>
        <td>Sports car</td>
        <td>Above 112000$</td>
       </tr>
       <img src ="/images/hakon-sataoen-qyfco1nfMtg-unsplash.jpg" width="500" height="300"/>

</table>