@{
    ViewData["Title"]="Enquiry";
}
<div>
     <input  type="text" placeholder="enter name"><br>
      <input    type="text" placeholder="enter Location"><br>
       <input   type="text" placeholder="enter Contact Number"><br>
        <input  type="text" placeholder="enter Email"><br>

        <button id="btn" name="btn" color="blue">Submit</button>
        <h1 style="text-align: center; color:red;"> We Will Contact You ASAP </h1>









</div>