@{
    ViewData["Title"] = "Features";
}
<div>
<h1>We Have These Features </h1>

<ul color="red">
    <li>Warrenty of 5 Years</li>
     <li>2 years Road Assistance</li>
      <li>3 car Servicing Free</li>
       <li>Accessories Upto 10000$</li>
        



</ul>
</div>