@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> WELCOME TO UNIVERSAL SHOWROOMS</h1>
   
    
<h2>We Will Not Let You Down</h2>
<h3>Happy Driving</h3>
<img src= "/images/ivana-cajina-WPVtT0MEM00-unsplash.jpg" width="800" height="500"/>
<!-- <img src= "/images/evgeny-tchebotarev-aiwuLjLPFnU-unsplash" width="100" height="100"/> -->
</div>
